body, p {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


.desktop-version, .mobile-version {
    background-color: hsl(212, 45%, 89%);
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop-version {
    width: 1440px;
    height: 900px;
}

.mobile-version {
    width: 375px;
    height: 667px;
}

.frame {
    background-color: white;
    width: 260px;
    padding: 15px 0;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px;
}

.qr-code-img {
    width: 235px;
    border-radius: 8px;
}

.header {
    font-weight: 700;
    font-size: 18px;
}

.header-container {
    width: 220px;
    padding: 16px 0;
}

.detail {
    color: hsl(220, 15%, 55%);
    font-size: 13px;
}

.detail-container {
    width: 220px;
    padding-bottom: 18px;
}