body {
    position: relative;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.frame-wrapper {
    position: relative;
}

.frame {
    background-color: white;
    width: 320px;
    padding: 15px 0;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px;
    margin: 5% 0;
}

.qr-code-img {
    width: 90%;
    border-radius: 10px;
}

.header {
    font-size: 22px;
}

.header-container {
    padding: 0% 5%;
}

.detail {
    color: hsl(220, 15%, 55%);
    margin: 2% 0 9% 0;
}

.detail-container {
    padding: 0 10%;
}
